*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#perfil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
    border: 5px solid #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
h1{
  font-size: 2.5rem;
  font-weight: 700;
  color: #343a40;
  margin-top: 20px;
}

h2{
  font-size: 1.8rem;
  color: #495057;
  margin-bottom: 10px;
}

p{
  font-size: 1.1rem;
  color: #6c757d;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6; 
}


body {
    background: linear-gradient(to-right, #f8f9fa, #e9ecef);
    padding-top: 70px; 
    text-align: center;
  }
  
.navbar {
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 4px 6px rgba(82, 81, 81, 0.1);  
  }
  

.navbar a{
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover{
  color:#ffcc00
}
  
@media (max-width: 991px) {
    .navbar {
      background-color: rgb(71, 71, 71); /* Hace que el fondo sea sólido en móviles */
    }
  }

footer{
  background-color: #343a40;
  color: white;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
